<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://phantruc-001-site1.ctempurl.com/</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://win8025.site4now.net:8172/msdeploy.axd?site=phantruc-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>phantruc-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>phantruc-001</UserName>
    <_SavePWD>True</_SavePWD>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="QL_BAN_GIAY_THETHEOEntities" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL8003.site4now.net;Initial Catalog=db_aa2acf_login;Persist Security Info=True;User ID=db_aa2acf_login_admin;Password=9942994Tbn." />
          <Object Type="DbCodeFirst">
            <Source Path="DBContext" DbContext="Web_ban_giay.QL_BAN_GIAY_THETHEOEntities, Web_ban_giay" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="QL_BAN_GIAY_THETHEOEntities-Web.config Connection String">
      <ParameterValue>metadata=res://*/SanPham.csdl|res://*/SanPham.ssdl|res://*/SanPham.msl;provider=System.Data.SqlClient;provider connection string="Data Source=SQL8003.site4now.net;Initial Catalog=db_aa2acf_login;Persist Security Info=True;User ID=db_aa2acf_login_admin;Password=9942994Tbn."</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>