<div id="footer">
    <div class="background_intro">
        <div class="intro">
            <div class="gird__row">
                <div class="intro_wrapper">
                    <div class="grid__column-2" style="margin-right: 30px;">
                        <h1 class="header_text intro_header">IT STARTED WITH A HANDSHAKE</h1>
                        <p class="intro_sub">It started with a handshake. Two visionaries, Bill Bowerman and his University of Oregon runner Phil Knight, thought they could do a better job of designing and selling shoes to runners. They were right. Today Nike is the world’s leading innovator in athletic footwear, apparel, equipment and accessories. Along the way, Nike helped the world’s best athletes win races, games and championships.</p>
                    </div>
                    <div class="grid__column-2">
                        <h1 class="header_text intro_header">WE LEAD WITH INNOVATIVE PRODUCT</h1>
                        <p class="intro_sub">True innovation isn’t just new and different. It’s new and better. It’s surprising. Sometimes it’s shocking. Nobody does that better than Nike. Yet we know you can’t anoint yourself as innovative the consumer ultimately decides that for themselves. That’s why we spend so much time with athletes and consumers listening, observing, studying and then creating products that enhance athletic performance and overall consumer experiences.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="club">
        <h1 class="header_text club_header" style="margin: 0; font-size: 25px;">JOIN OUR NIKE CLUB AND GET 15% OFF</h1>
        <a href="">
            <div class="action" style="margin-left: 25px; margin-top: 0; ">
                <h2 class="action_text" style="font-size: 25px; line-height: 50px;">SIGNUP FOR FREE!</h2>
            </div>
        </a>
    </div>
    <div class="footer_nav">
        <div class="grid__row" style="justify-content: space-around;">
            <div class="grid__column">
                <div class="nav_row">
                    <h1 class="nav_header">SHOES</h1>
                    <ul class="footer_nav-list">
                        <a href="">
                            <li class="footer_nav-items">Golf Shoes</li>
                        </a>
                        <a href="">
                            <li class="footer_nav-items">Winter Trainers</li>
                        </a>
                        <a href="">
                            <li class="footer_nav-items">Gore Tex Trainers</li>
                        </a>
                        <a href="">
                            <li class="footer_nav-items">Walking Trainers</li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="grid__column">
                <div class="nav_row">
                    <h1 class="nav_header">CLOTHING</h1>
                    <ul class="footer_nav-list">
                        <a href="">
                            <li class="footer_nav-items">All Clothing</li>
                        </a>
                        <a href="">
                            <li class="footer_nav-items">Yoga Trousers</li>
                        </a>
                        <a href="">
                            <li class="footer_nav-items">Tech Fleece Joggers</li>
                        </a>
                        <a href="">
                            <li class="footer_nav-items">Tech Fleece Pants</li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="grid__column">
                <div class="nav_row">
                    <h1 class="nav_header">KIDS</h1>
                    <ul class="footer_nav-list">
                        <a href="">
                            <li class="footer_nav-items">Kids’ Sliders</li>
                        </a>
                        <a href="">
                            <li class="footer_nav-items">Kids’ Tracksuit Sale</li>
                        </a>
                        <a href="">
                            <li class="footer_nav-items">Kids’ Puffer Jacket</li>
                        </a>
                    </ul>
                </div>
            </div>
            <div class="grid__column">
                <div class="nav_row">
                    <h1 class="nav_header">FEATURED</h1>
                    <ul class="footer_nav-list">
                        <a href="">
                            <li class="footer_nav-items">Football Club Teams</li>
                        </a>
                        <a href="">
                            <li class="footer_nav-items">Football</li>
                        </a>
                        <a href="">
                            <li class="footer_nav-items">Nike Run Club</li>
                        </a>
                        <a href="">
                            <li class="footer_nav-items">Nike Training Club</li>
                        </a>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="footer_end">
        <div class="grid__row" style="justify-content: space-between;">
            <div class="grid_column-end">
                <ul class="end_list" style="margin: 0;">
                    <a href="">
                        <li class="end_items-bold" style="font-family: 'Anton', sans-serif;">FIND A STORE</li>
                    </a>
                    <a href="">

                        <li class="end_items-bold" style="font-family: 'Anton', sans-serif;">NIKE JOURNAL</li>
                    </a>
                    <a href="">

                        <li class="end_items-bold" style="font-family: 'Anton', sans-serif;">BECOME A MEMBER   </li>
                    </a>
                    <a href="">

                        <li class="end_items-bold" style="font-family: 'Anton', sans-serif;">FEEDBACK</li>
                    </a>
                    <a href="">

                        <li class="end_items-bold" style="font-family: 'Anton', sans-serif;">PROMO CODES</li>
                    </a>
                </ul>
            </div>
            <div class="grid_column">
                <div class="nav_header-wrapper">

                    <h1 class="nav_header" style="color: white;">GET HELP</h1>
                    <a href="">

                        <img src="~/assets/font/plus.svg" alt="" class="mobile plus">
                    </a>

                </div>
                <ul class="end_list">
                    <a href="">

                        <li class="end_items">Order Status</li>
                    </a>
                    <a href="">

                        <li class="end_items">Shipping and Delivery </li>
                    </a>
                    <a href="">

                        <li class="end_items">Returns</li>
                    </a>
                    <a href="">

                        <li class="end_items">Payment Options</li>
                    </a>
                    <a href="">

                        <li class="end_items">Contact Us</li>
                    </a>
                </ul>
            </div>
            <div class="grid_column">
                <div class="nav_header-wrapper">
                    <h1 class="nav_header" style="color: white;">ABOUT NIKE</h1>
                    <a href="">

                        <img src="~/assets/font/plus.svg" alt="" class="mobile plus">
                    </a>
                </div>
                <ul class="end_list">
                    <a href="">

                        <li class="end_items">News</li>
                    </a>
                    <a href="">

                        <li class="end_items">Careers</li>
                    </a>
                    <a href="">

                        <li class="end_items">Returns</li>
                    </a>
                    <a href="">

                        <li class="end_items">Investors</li>
                    </a>
                    <a href="">

                        <li class="end_items">Sustainability</li>
                    </a>
                </ul>
            </div>
            <div class="grid_column">
                <div class="nav_header-wrapper">
                    <h1 class="nav_header" style="color: white;">JOIN US</h1>
                    <a href="">

                        <img src="~/assets/font/plus.svg" alt="" class="mobile plus">
                    </a>
                </div>
                <ul class="end_list">
                    <a href="">

                        <li class="end_items">Nike App</li>
                    </a>
                    <a href="">

                        <li class="end_items">Nike Run Club</li>
                    </a>
                    <a href="">

                        <li class="end_items">Nike Training Club</li>
                    </a>
                </ul>
            </div>
            <div class="grid_column">
                <div class="nav_header-wrapper">
                    <h1 class="nav_header" style="color: white;">SOCIAL</h1>
                    <a href="">

                        <img src="~/assets/font/plus.svg" alt="" class="mobile plus">
                    </a>
                </div>
                <ul class="end_list" style="display: flex;">
                    <a href="https://www.facebook.com/trucdeeptry" target="_blank">
                        <li class="end_items" style="margin: 0 15px;"> <img src="~/assets/image/bxl-facebook.svg" alt="" class="end_img"> </li>
                    </a>
                    <a href="">
                        <li class="end_items" style="margin: 0 15px;"> <img src="~/assets/image/bxl-twitter.svg" alt="" class="end_img">   </li>
                    </a>
                    <a href="">
                        <li class="end_items" style="margin: 0 15px;"> <img src="~/assets/image/instagram-logo.svg" alt="" class="end_img"></li>
                    </a>
                    <a href="">
                        <li class="end_items" style="margin: 0 15px;"> <img src="~/assets/image/youtube-logo.svg" alt="" class="end_img"> </li>
                    </a>
                </ul>
            </div>
        </div>
        <div class="end_policy">
            <ul class="policy_list">
                <a href="">
                    <li class="policy_items" style="display: flex;">
                        <img src="/assets/image/location.svg" style="margin-right: 10px;" alt="" class="policy_location">
                        Australia
                    </li>
                </a>
                <a href="">
                    <li class="policy_items">Guides</li>
                </a>
                <a href="">
                    <li class="policy_items">Terms of Use</li>
                </a>
                <a href="">
                    <li class="policy_items">Terms of Sale</li>
                </a>
                <a href="">
                    <li class="policy_items">Company Details</li>
                </a>
                <a href="">
                    <li class="policy_items">Modern Slavery Act</li>
                </a>
                <a href="">
                    <li class="policy_items">Privacy & Cookie Policy</li>
                </a>
                <a href="">
                    <li class="policy_items">Cookie Settings</li>
                </a>
            </ul>
        </div>
        <div class="copy_right">
            <p class="copy_right-text">
                © 2023 Olrich Redesign  | All Rights Reserved
            </p>
        </div>
    </div>
</div>
